<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connect</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body>
    <div class="container">
        <h1>ACME CRUD</h1>
        <h2>Admin Pannel</h2>
        <form>
            <button class="button"><a href="command.html">Effectuer une commande</a></button>
            <button class="button"><a href="modifCommand.html">Modfifier une commande</a></button>
            <button class="button"><a href="showCommand.html">Voir les commandes</a></button>
            <button class="button"><a href="addProduct.html">Ajouter un produit</a></button>
            <button class="button"><a href="listProduct.html">Listes de produit</a></button>
            <button class="exitbtn"><a href="login.html">Exit</a></button>
        </form>
    </div>
</body>
</html>