<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connect</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body>
    <div class="container">
        <h1>ACME CRUD</h1>
        <h2>Admin Pannel</h2>
        <form th:action="@{/login}" method="post">
            <button class="button">Effectuer une commande</button>
            <button class="button">Modifier une commande</button>
            <button class="button">Voir les commandes</button>
            <button class="button">Voir les produits</button>
        </form>
    </div>
</body>
</html>